doctype html
html(lang='fr')
    head
        title Toku -  Infos
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet' href='/assets/css/app.css')
    body
        .page-infos
            .container
                :markdown-it
                    ![Toku](/assets/logo.png)

                    Toku est une application de micro-bloggage minimaliste.

                    ### Utiliser des emojis
                    Toku convertit automatiquement certains caractères en emojis.

                    La liste des emojis utilisables est visible en [cliquant ici](http://www.webpagefx.com/tools/emoji-cheat-sheet/).

                    En plus de ceux là, vous pouvez également utiliser les émoticones suivants :
                    `:-) , :o , :-o , :-] , :-D  , X-D  , ;-p , :-[  , :-@ , :-( , :'-( , :-* , ;-) , :-/ , :-s , :-| , :-$ , :-x , <3`

                   ### Hasthags et @
                   Les mots commençants par `#` (hashtag) ou `@` (pour cibler une personne) sont automatiquement mis en valeur dans vos messages.

                   ### Utiliser ou améliorer Toku
                   Toutes les sources de **Toku** sont disponibles sur [GitHub](https://github.com/5ika/Toku). N'importe qui est libre de les reprendre pour son propre usage.
                   **Les propositions de modifications sont les bienvenues !**

                   #### Crédits
                   **Toku** est un projet passe-temps développé par [Tim Izzo / Sika](https://github.com/5ika).
