.post {
    .content {
        .hashtag {
            color: $primary-color-dark;
        }

        .at {
            color      : $primary-color-dark;
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
}
